[Desktop Entry]
Version=1.0
Type=Link
Name=documentacion curso
URL=smb://10.239.218.161/temporal_curso_samba
Icon=/usr/share/icons/gnome/48x48/actions/document-open.png
