[Desktop Entry]
Exec=/opt/SAPClients/SAPGUI7.40rev7/bin/guilogon
Type=Application
Icon=/opt/SAPClients/SAPGUI7.40rev7/inst/hicolor/64x64/apps/guilogon.png
Name=SAP GUI 7.40 rev 7
Categories=X-SAPClients;Office;
